header {
  width: 100%;
  height: 80px;
  background-color: var(--primary-color);
  padding: 10px 0;
}

.menu {
  max-width: 1024px;
  margin: 0 auto;
}

.menu img {
  padding: 10px 10px;
  margin: 0px 10px;
  margin-top: -70px;
}

.menu ul {
  float: right;
  list-style: none;
  text-align: center;
  vertical-align: top;
  margin: 0 10px;
}

.menu ul li {
  list-style-type: none;
  display: inline;
}

.menu ul li a {
  font-size: 1.5em;
  font-weight: 600;
  text-decoration: none;
  line-height: 80px;
  padding: 15px 10px;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.menu ul li a:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-weight: 600;
}

main {
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px;
}

main h1 {
  font-size: 3em;
  font-weight: 800;
  margin-bottom: 20px;
  text-align: center;
  color: var(--primary-color);
}

.cuadricula {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1em;
  width: 100%;
}

.card-grid {
  align-self: center;
  justify-self: center;
  text-align: center;
}

.card-style {
  background-color: var(--secondary-color);
  height: 460px;
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(84, 110, 167, 0.3);
}

.card-style img {
  height: 300px;
  width: 250px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-content {
  padding: 15px;
  height: 50px;
  text-overflow: ellipsis;
}

.card-content h2 {
  color: var(--primary-color);
  font-weight: 600;
}

.card-content div {
  height: 35px;
  align-content: center;
  color: var(--secondary-color);
  font-weight: 400;
  margin-top: 3px;
}

.card-content .no-visto {
  background-color: #da3c3c;
}

.card-content .visto {
  background-color: #50c035;
}

.card-bottom {
  margin-top: 1em;
  padding: 0 1em;
}

.card-bottom button {
  width: 100%;
  height: 30px;
  border: solid 1px var(--primary-color);
  border-radius: 10px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.card-bottom button:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-weight: 400;
}

.calculadora {
  align-items: center;
  text-align: center;
  background-color: var(--primary-color);
  width: 60%;
  height: 300px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
}

.calculadora select {
  width: 200px;
  height: 40px;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  margin: 15px auto;
  background-color: #d0dd9f;
}

.calculadora input {
  display: flex;
  margin: 15px auto;
  width: 150px;
  height: 30px;
  font-size: 20px;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #d0dd9f;
  border: none;
}

.calculadora .btnCalcular {
  width: 100px;
  height: 40px;
  border: solid 1px var(--secondary-color);
  border-radius: 10px;
  background-color: var(--secondary-color);
  font-size: 20px;
  font-weight: 600;
  margin: 15px auto;
}

.calculadora span {
  font-size: 2em;
  font-weight: 600;
  color: var(--secondary-color);
}

.buscador {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.buscador input {
  width: 300px;
  height: 30px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
}

.buscador button {
  width: 100px;
  height: 40px;
  border: solid 1px var(--third-color);
  border-radius: 10px;
  background-color: var(--secondary-color);
  color: var(--third-color);
  font-weight: 600;
  font-size: 20px;
  margin-left: 10px;
}

.buscador button:hover {
  background-color: var(--third-color);
  color: var(--secondary-color);
  font-weight: 600;
}

.lista-canciones {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.lista-canciones>article {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(84, 110, 167, 0.3);
}

.lista-canciones>article img {
  width: 100%;
  height: auto;
}

.text {
  padding: 0 20px 20px;
}

.text h3 {
  font-size: 1.5em;
  font-weight: 600;
  color: var(--third-color);
  text-align: center;
  margin-bottom: 10px;
}

.text p {
  font-size: 1em;
  font-weight: 400;  
}

.text button {
  display: flex;
  margin-top: 10px;  
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: var(--secondary-color);
  color: var(--third-color);
  padding: 5px;
  width: 100%;
  border: 3px solid var(--third-color);
  border-radius: 1em;
  font-weight: 600;
  font-size: 20px;
}

.text button img {
  max-width: 30px;
}

.numero {
  display: flex;
  width: 60px;
  height: 60px;
  background-color: #50c035;
  color: var(--secondary-color);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  font-weight: 600;
}

/**
  * LOGIN
*/

.bg-login {
  background: url('https://wallpapers.com/images/hd/1920x1080-disney-jttfb7e6oygvqqb6.jpg') no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-login .form-login {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  width: 30%;
  height: 40%;
  text-align: center;
}

.form-login__div {
  align-items: center;
  text-align: center;
  justify-content: center;
}

.bg-login .form-login input {
  width: 80%;
  height: 40px;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  margin: 10px 0;
  background-color: var(--login-color);
  color: var(--secondary-color);
  border: none;
}

.bg-login .form-login button {
  width: 80%;
  height: 40px;
  border: solid 1px var(--secondary-color);
  border-radius: 10px;
  background-color: var(--secondary-color);
  color: var(--login-color);
  font-weight: 600;
  font-size: 20px;
  margin: 10px 0;
}

.bg-login .form-login button:hover {
  background-color: var(--login-color);
  color: var(--secondary-color);
  font-weight: 600;
}